/* Set the background video to cover the entire screen */
#background-video {
    position: fixed;
    right: 10;
    bottom: 10;
    min-width: 10%;
    min-height: 10%;
    z-index: -1;
    object-fit: cover;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 30px;
    width: 600px; /* Increased width to fit new inputs */
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #34495e;
}

.form-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"], input[type="date"], input[type="time"], select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    margin-right: 10px;
}

input[type="text"] {
    width: 100px;
}

input[type="date"], input[type="time"] {
    width: 110px;
}

select {
    width: 80px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f1c40f;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

li span {
    margin-right: auto;
    padding-left: 10px;
}

.priority-high {
    color: red;
}

.priority-medium {
    color: orange;
}

.priority-low {
    color: green;
}

button.edit, button.delete {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.edit {
    background-color: #e67e22;
    color: white;
}

button.delete {
    background-color: #e74c3c;
    color: white;
}

button.edit:hover {
    background-color: #d35400;
}

button.delete:hover {
    background-color: #c0392b;
}
